html,
body,
#root,
#app {
    width: 100%;
    height: 100%;
}

#root {
    overflow: hidden;
}

#app {
    width: calc(100% + 400px);
    display: flex;
    justify-content: space-between;
    transition: width .75s;
}

#app[cart] {
    width: calc(100%) !important;
}

#app[cart] #content {
    filter: blur(2px);
}

#app>* {
    height: 100%;
}

#cart {
    width: 400px;
    flex: 0 0 400px;
    overflow: hidden auto;
    border: 1px solid #ccc;
}

#main {
    flex-grow: 1;
}

#header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #f5f3f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 13px;
}

#logo {
    height: 55%;
}

#cart-logo {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: transparent;
    position: relative;
}

#cart-logo:hover {
    cursor: pointer;
}

#cart-logo>img {
    height: 40%;
}

#cart-logo>span {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #ffdf37;
    width: 20px;
    height: 20px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cart-logo:hover>img {
    filter: drop-shadow(0 0 .2rem gray);
}

#container {
    width: 100%;
    height: calc(100% - 60px);
    position: relative;
    display: flex;
    justify-content: space-between;
}

#banner {
    position: absolute;
    height: 100%;
    width: 60px;
    background-color: #663399;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

#banner img {
    width: 60%;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

#banner span {
    display: block;
    font-size: 1.4rem;
    left: 50%;
    transform: rotate(-90deg) translate(calc(-95%), 55%);
    transform-origin: top left;
    width: 224px;
    font-family: "Futura PT", sans-serif;
    font-weight: 400;
    color: white;
    margin-bottom: auto;
}

#banner button {
    display: block;
    font-size: 1.1rem;
    left: 50%;
    transform: rotate(-90deg) translate(0, 85%);
    transform-origin: top left;
    width: 149px;
    font-family: "Futura PT", sans-serif;
    font-weight: 400;
    color: white;
    background-color: transparent;
}

#banner span strong {
    color: #ffdf37;
}

#sidebar {
    width: 0;
    flex-shrink: 0;
    z-index: 2;
    background-color: #442266;
    transition: width .75s ease-in-out;
    overflow: hidden;
    position: relative;
    color: white;
    font-family: "Futura PT", sans-serif;
}

#sidebar h2 {
    margin: 12px 0;
    font-size: 1.6rem;
    color: #ffdf37;
}

#sidebar h3 {
    font-size: 1rem;
}

#sidebar p {
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 0;
    font-family: "Segoe UI", sans-serif;
}

#sidebar .content {
    min-width: 420px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 32px;
}

#app[sidebar] #sidebar {
    width: 420px !important;
}

#content {
    flex-grow: 1;
    max-width: calc(100vw - 60px);
    overflow-y: auto;
    transition: filter .5s ease-in-out;
}

#title {
    width: 100%;
    height: 212.422px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#title h1 {
    color: #442266;
    font-family: "Futura PT", sans-serif;
    font-size: 3rem;
    letter-spacing: -0.02em;
}

#title p {
    width: 592px;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333333;
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
}

#products {
    width: 100%;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

#products li {
    width: 300px;
    height: 540px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 4px;
    box-shadow: 0 1px 10px rgb(0 0 0 / 15%);
    list-style-type: none;
}

.product .top {
    height: 305px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f5f3f7;
}

.product .top img {
    max-height: 80%;
    max-width: 80%;
}

.product .bottom {
    height: calc(100% - 305px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

.bottom h1 {
    color: #442266;
    font-family: "Futura PT", sans-serif;
    font-size: 1.6rem;
}

.description {
    color: #333333;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
}

.price {
    color: #663399;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: "Segoe UI", sans-serif;
}

.purchaseInfo {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.purchaseInfo button {
    background-color: transparent;
    color: #663399;
}

.purchaseInfo button:hover {
    cursor: pointer;
}

.center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#errorMessage {
    color: red;
    font-family: "Segoe UI", sans-serif;
    font-weight: 500;
    border: 1px dashed red;
    padding: 5px;
    margin: 5px 0;
    background-color: rgba(255, 0, 0, 0.01);
}

#errorMessage li {
    margin-left: 24px;
}

.details {
    display: flex;
    gap: 56px;
}

.productImg {
    width: 440px;
    height: 440px;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 15%) 0px 1px 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productImg img {
    max-width: 93%;
    max-height: 93%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right>button {
    padding: 8.8px 12px 8.8px 12px;
    font-size: 17.6px;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 8.8px;
    line-height: 1em;
    font-family: "Futura PT", sans-serif;
    background-color: white;
    border: 1px solid #663399;
    color: #663399;
}

.right>div>h1 {
    font-size: 28.8px;
    color: #442266;
    font-family: "Futura PT", sans-serif;
    margin-bottom: 16px;
    margin-top: 16px;
    max-width: 336px;
}

.description {
    max-width: 336px;
    color: #333333;
    font-family: "Segoe UI", sans-serif;
}

.right>div>h2 {
    color: rgb(102, 51, 153);
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: -0.02em;
    font-family: "Segoe UI", sans-serif;
    margin-top: 16px;
}

.right>form {
    display: grid;
    grid-template-columns: 65px 255px;
    grid-gap: 16px;
}

.right>form>button {
    grid-column: 1 / 3;
    background-color: #663399;
    color: white;
    padding: 10px;
    font-size: 20px;
    font-family: "Futura PT", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.right>form fieldset {
    border: none;
}

.right>form input {
    outline: none;
    padding: 12px;
    width: 65px;
    margin-top: 5px;
    font-size: 1.1rem;
    color: #333333;
    border: 1px solid #e0d6eb;
}

.right>form select {
    outline: none;
    padding: 12px;
    width: 255px;
    margin-top: 5px;
    font-size: 1.1rem;
    color: #333333;
    border: 1px solid #e0d6eb;
}

.right>form label {
    padding: 8px;
    font-family: "Segoe UI", sans-serif;
    color: #7e718a;
}

#cart>header {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

#cart>header>h1 {
    font-size: 1.8rem;
    font-family: "Futura PT", sans-serif;
    font-weight: 500;
    color: #442266;
}

#cart>div {
    height: calc(100% - 60px);
    width: 100%;
    padding: 24px;
}

.cart-item {
    height: 77px;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
    gap: 10px;
}

.cart-item span {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e0d6eb;
}

.cart-item span img {
    max-width: 90%;
    max-height: 90%;
}

.cart-item h3 {
    width: 190px;
    font-size: 16px;
    color: #333333;
    font-family: "Segoe UI", sans-serif;
    font-weight: 400;
}

.cart-item p {
    font-size: 16px;
    color: #333333;
    font-family: "Segoe UI", sans-serif;
    font-weight: 500;
}

.cart-item .remove {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
    border: 1px dotted #aaaaaa;
    background-color: white;
    color: #663399;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease 0s;
}

.cart-item .remove:hover {
    cursor: pointer;
    box-shadow: #ffb238 0px 0px 0px 1px;
}

.cart-item .remove svg {
    width: 24px;
    height: 24px;
}

#total {
    padding: 10px;
    text-align: right;
    color: #442266;
    font-family: "Segoe UI", sans-serif;
    font-weight: 700;
    font-size: 14.4px;
}

#check-out {
    width: 100%;
    padding: 10px;
    margin: 24px 0;
    background-color: #663399;
    font-family: "Futura PT", sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
}

#check-out:hover {
    cursor: pointer;
}