* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    outline: none;
    border: none;
}

@font-face {
    font-family: 'Futura PT';
    src: local('Futura PT'), url(./font.woff2) format('woff2');
}